.comp-list {
  position: absolute;
  top: 50%;
  right: 20px;
  padding: 20px;
  width: 30%;
  background: rgba(255, 255, 255, 0.9);
  transform: translateY(-50%);

  .title {
    padding: 5px 0 15px;
    font-size: 14px;
    font-weight:600;
    color: #2E2E34;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .list-li {
    line-height: 30px;
  }

  .preCol { 
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;

    .circle {
      display: inline-block;
      background: color;
      width: 20px;
      height: 20px;
      line-height: 20px;
      border-radius: 50%;
      text-align: center;
      color: #fff;
    }

    .text {
      margin-left: 10px;
      color: #72727C;
    }
  }
}