.textEditor{
    .content{
        padding: 20px;
    }
    .editor_wrap{
        height: 300px;
        background: #ffffff;
    }
    .ql-editor{    //内容区
        height: 300px;
        background: #ffffff;
    }
}