.lists{
    margin: 20px;
    .ant-card{
        padding-top:20px;
    }
    /* 卡片布局 */
    .ant-card-head{
        border:none;
        .ant-card-head-title,.ant-card-extra{
            padding:0;
        }
    }
    .ant-card-body{
        padding:0 32px;
    }
    /* 搜索框 */
    .search{
        width:160px;
        margin-right: 10px;
        input{
            font-size: 12px;
        }
    }
    .listContent{
        width: 58%;
        padding: 0 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }
}