.top-bar{
  width:1124px;
  margin:0 auto;
  .logo{
    img{
      width: 32px;
      height: 32px;
      float: left;
      margin-top:15px;
    }
  }
  .top-bar-title{
    font-size:16px;
    margin-left:10px;
    a{
      color:#fff;
      text-decoration: none;
    }
  }
  .user-moudle{
    color:#fff;
    img{
      width:32px;
      margin-right:10px;
    }
  }
}

