.m-detail{
  .m-basicInfo{
    background: #fff;
    padding: 20px;
    .u-detail-icon{
      width: 28px;
      height: 28px;
      border-radius: 4px;
    }
    .u-detail-orderno{
      height: 28px;
      line-height: 28px;
      font-size: 20px;
    }
    .m-detail-first{
      .m-detail-item{
        font-size: 14px;
        color:rgba(0,0,0,.65);
        padding-bottom: 8px;
        .u-label{
          color: rgba(0,0,0,.85);
        }
      }
     
    }
    .m-detail-second{
      .m-detail-item{
        font-size: 20px;
        color:rgba(0,0,0,.85);
        text-align: right;
        .u-label{
          font-size: 14px;
          color: rgba(0,0,0,.45);
        }
      }
    }
  }
  .m-user-info{
    .info-item{
      display: flex;
      color: rgba(0,0,0,.85);
      padding-bottom: 16px;
      .u-content{
        flex: 1;
        display: inline-block;
        width: 180px;
        vertical-align: top;
        color: rgba(0,0,0,.65);
      }
    }
  }
  .m-user-record{
    .m-no-data{
      color: rgba(0,0,0,.25);
      text-align: center;
      font-size: 24px;
      line-height: 64px;
    }
  }
  .u-badge-status-dot{
    width: 6px;
    height: 6px;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
    position: relative;
    top: -1px;
  }
  .u-badge-status-error{
    background-color: #f5222d;
  }
  .u-badge-status-success{
    background-color: #52c41a;
  }
}
