.home-page{
    width:1124px;
    margin:120px auto;
    border:1px solid #fff;
    min-height: 680px;
    .app-box{
        background:blue;
        height:186px;
        cursor: pointer;
        padding:70px 50px;
        color:#fff;
        :first-child{  
            font-size:18px;
            margin-bottom:10px;
        }
        :last-child{
            font-size:12px;
        }
    }
}