.lists{
    /* 卡片布局 */
    .ant-card-head{
        border:none;
        .ant-card-head-title,.ant-card-extra{
            padding:0;
        }
    }
    .ant-card-body{
        padding:0 32px;
    }
    /* 搜索框 */
    .search{
        width:160px;
        margin-right: 10px;
        input{
            font-size: 12px;
        }
    }
}