
.statistics-panel {
  width: 100%;
  height: auto;
  padding: 0;
  .panel-card {
    width: 100%;
    height: auto;
    position: relative;
    padding: 10px 20px;
    .card-title {
      font-size: 16px;
      font-family: PingFangSC-Semibold,PingFang SC;
      font-weight: 600;
      color: rgba(46,46,52,1);
      line-height: 24px;
      margin-bottom: 10px;
    }
    .card-value {
      font-size: 28px;
      font-family: PingFangSC-Regular,PingFang SC;
      font-weight: 400;
      color: rgba(46,46,52,1);
      line-height: 34px;
    }
  }
}
