.m-result-success{
  margin: 20px;
  padding: 48px 0 16px 0;
  .m-content{
    width: 72%;
    margin: 0 auto;
    .u-status-success{
      color: #52c41a;
      font-size: 72px;
    }
    .u-text-success{
      text-align: center;
      font-size: 24px;
      color: rgba(0,0,0,.85);
      font-weight: 500;
      line-height: 32px;
      margin-bottom: 16px;
    }
    .u-description{
      font-size: 14px;
      line-height: 22px;
      color: rgba(0,0,0,.45);
      margin-bottom: 24px;
      text-align: center;
    }
    .m-extra{
      background: #fafafa;
      padding: 24px 40px;
      border-radius: 2px;
      .u-title{
        font-size: 16px; 
        color: rgba(0, 0, 0, 0.85); 
        font-weight: 500; 
        margin-bottom: 20px;
      }
      .m-info{
        .m-info-item{
          .u-label{
            color: rgba(0, 0, 0, 0.85);
          }
        }
      }
    }
  }
}