.analysis{
    margin:20px;

    .topLines{
        .ant-card-head{
            border:none;
        }
        .ant-card-body{
            min-height: 200px;
            padding-top:0;
            padding-bottom: 0;
        }
    }
    .ant-tabs-nav-wrap{
        padding: 0 20px;
    }
}